In [1]:
import pandas as pd

In [2]:
df_general= pd.read_csv('../data_wedev/data_useful/linkedin.csv')

In [3]:
df_general.sample(5)

,index,category,linkedin,profile_picture,description,Experience,Name,position,location,skills,clean_skills
52,53,Designing,https://in.linkedin.com/in/and-studio-is-looki...,https://media-exp1.licdn.com/dms/image/C5103AQ...,Experienced Fashion Designer with a demonstrat...,Fashion DesignerCompany NameAND designing stud...,AND studio is looking for buyer,AND \n Exporter Creative m...,"Bhimavaram Area, India","['\nMicrosoft Office\n', '\nApparel\n', '\nFas...","['Microsoft Office', 'Apparel', 'Fashion Illus..."
1006,1513,Accountant,https://uk.linkedin.com/in/gpamasanti,https://media-exp1.licdn.com/dms/image/C5603AQ...,I have worked in senior positions for major ac...,Business Owner and AccountantCompany NameSTERL...,Gino Amasanti,Business Owner and Accountant at Sterling Grov...,"Bourne End, Buckinghamshire, United Kingdom","['\nAccounting\n', '\nAuditing\n', '\nTax\n']","['Accounting', 'Auditing', 'Tax']"
30,31,HR,https://in.linkedin.com/in/sachidanandkulkarni,https://media-exp1.licdn.com/dms/image/C5603AQ...,I am a firm believer of human potential collec...,Founder and HR EvangelistCompany NameSRK CONSU...,Sachidanand R. Kulkarni,"Founder and HR Evangelist.\n""Enabling & Empowe...","Pune, Maharashtra, India",[],['']
1220,1727,Aviation,https://in.linkedin.com/in/balram-kumar-singh-...,"data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP//...",Experienced Chief Executive Officer with a dem...,CHAIRMAN AND CEOCompany NameLORD JESUS CHRISTM...,balram kumar singh,CHAIRMAN AND CEO at LORD JESUS CHRIST MAGLEV ...,"Patna, Bihar, India","['\nManagement\n', '\nProject Planning\n', '\n...","['Management', 'Project Planning', 'Customer S..."
21,22,HR,https://in.linkedin.com/in/roshan-sinha-909b0029,https://media-exp1.licdn.com/dms/image/C4D03AQ...,•\tA dynamic Executive with over 12 years of c...,Company NameOricaTotal Duration11 yrs 6 mosTit...,Roshan Sinha,Human Resource Business Partner at Orica,"Bokaro, Jharkhand, India","['\nMicrosoft Office\n', '\nMicrosoft Excel\n'...","['Microsoft Office', 'Microsoft Excel', 'Micro..."

In [4]:
df_general.drop(['index','linkedin','Name','skills','profile_picture','description','position','location'],axis=1, inplace=True)

In [5]:
df_general.sample(5)

,category,Experience,clean_skills
485,BPO,Chief Operating OfficerCompany NameAmrita Krip...,['']
296,Advocate,Legal AdvocateCompany NameSelf employedDates E...,"['Film', 'Entertainment', 'Feature Films']"
1092,Architects,InternCompany NameIDEA CONSULTANTS AND ARCHITE...,"['Revit', 'Adobe Photoshop', 'SketchUp']"
282,Advocate,Solicitor and AdvocateCompany NameAshwani Soli...,"['Customer Service', 'Research', 'Microsoft Ex..."
635,Digital Media,Company NameReinvent Digital Media Pvt LtdTota...,"['Google Adwords', 'Digital Marketing', 'Digit..."

In [6]:
df_general.rename(columns={'Experience':'name','clean_skills':'requariments'}, inplace=True)

In [7]:
df_general.sample(5)

,category,name,requariments
297,Advocate,Legal Consultant and advocateCompany NameAdvoc...,"['Civil Litigation', 'Legal Advice', 'Legal Re..."
668,Building & Construction,building construction engineeringCompany NameC...,"['Construction', 'teachical drawing ']"
1215,Aviation,Freelance TrainerCompany Namefreelance Trainer...,"['Aviation', 'image consultant ', 'personality..."
1243,Aviation,trainee technicianCompany NameTANEJA AEROSPACE...,"['Social Media', '3D Studio Max', 'Aircraft Ma..."
927,Finance,Regional Sales ManagerCompany NameCHOLAMANDALA...,"['Team Management', 'Automobile', 'Automotive']"

In [8]:
df_general.shape

(1251, 3)

In [9]:
df_general.isnull().count()

category        1251
name            1251
requariments    1251
dtype: int64

In [10]:
job_offert1= pd.read_csv('../data_wedev/data_useful/job_offert.csv')

In [12]:
job_offert2= pd.read_csv('../data_wedev/data_useful/job_offert2.csv')

In [13]:
job_offert3= pd.concat([job_offert1, job_offert2])

In [15]:
job_offert3.shape

(2000, 4)

In [16]:
job_offert4=job_offert3[:1251]

In [17]:
job_offert4.shape

(1251, 4)

In [19]:
i = [i for i in range(1251)]
index = pd.Series(i)

In [20]:
index.shape

(1251,)

In [22]:
job_offert4['index']= index

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [23]:
job_offert4.head(5)

    schedule payment_max payment_min              title  index
0   3/8/2021      $33.21      $97.59   Graphic Designer      0
1  4/29/2021      $41.94      $76.31  Account Executive      1
2   9/1/2021      $26.24      $95.85          Recruiter      2
3  4/30/2021      $35.55      $52.16  Financial Analyst      3
4  2/13/2021      $43.04      $52.93      VP Accounting      4

In [24]:
df_general['index']= index

In [25]:
df_general.head(5)

,category,name,requariments,index
0,HR,Senior Vice President & Head of HRCompany Name...,"['Performance Management', 'Human Resources', ...",0
1,HR,Head of Talent Acquisition - India & APAC and ...,"['Talent Acquisition', 'Employee Engagement', ...",1
2,HR,Company NameIBM INDIA Pvt LtdTotal Duration8 y...,"['Human Resources', 'Recruiting', 'Team Manage...",2
3,HR,HR/Admin/Personnel/LegalCompany NameHR and HR ...,[''],3
4,HR,Company NameEXLTotal Duration6 yrs 4 mosTitleV...,"['Team Management', 'Human Resources', 'Employ...",4

In [26]:
job_offert4.drop(['title'],axis=1, inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [27]:
job_offert4.head(5)

    schedule payment_max payment_min  index
0   3/8/2021      $33.21      $97.59      0
1  4/29/2021      $41.94      $76.31      1
2   9/1/2021      $26.24      $95.85      2
3  4/30/2021      $35.55      $52.16      3
4  2/13/2021      $43.04      $52.93      4

In [28]:
df_general.rename(columns={'name':'title'}, inplace=True)

In [41]:
result = pd.merge(df_general.reset_index(),
                  job_offert4.reset_index(), 
                  left_index=True, 
                  right_index=True)

In [42]:
result.head(5)

,level_0_x,category,title,requariments,index_x,level_0_y,schedule,payment_max,payment_min,index_y
0,0,HR,Senior Vice President & Head of HRCompany Name...,"['Performance Management', 'Human Resources', ...",0,0,3/8/2021,$33.21,$97.59,0
1,1,HR,Head of Talent Acquisition - India & APAC and ...,"['Talent Acquisition', 'Employee Engagement', ...",1,1,4/29/2021,$41.94,$76.31,1
2,2,HR,Company NameIBM INDIA Pvt LtdTotal Duration8 y...,"['Human Resources', 'Recruiting', 'Team Manage...",2,2,9/1/2021,$26.24,$95.85,2
3,3,HR,HR/Admin/Personnel/LegalCompany NameHR and HR ...,[''],3,3,4/30/2021,$35.55,$52.16,3
4,4,HR,Company NameEXLTotal Duration6 yrs 4 mosTitleV...,"['Team Management', 'Human Resources', 'Employ...",4,4,2/13/2021,$43.04,$52.93,4

In [46]:
result.drop(['level_0_x','index_x','level_0_y','index_y'],axis=1, inplace=True)

KeyError: "['level_0_x' 'index_x' 'level_0_y' 'index_y'] not found in axis"

In [47]:
result.head(10)

,category,title,requariments,schedule,payment_max,payment_min
0,HR,Senior Vice President & Head of HRCompany Name...,"['Performance Management', 'Human Resources', ...",3/8/2021,$33.21,$97.59
1,HR,Head of Talent Acquisition - India & APAC and ...,"['Talent Acquisition', 'Employee Engagement', ...",4/29/2021,$41.94,$76.31
2,HR,Company NameIBM INDIA Pvt LtdTotal Duration8 y...,"['Human Resources', 'Recruiting', 'Team Manage...",9/1/2021,$26.24,$95.85
3,HR,HR/Admin/Personnel/LegalCompany NameHR and HR ...,[''],4/30/2021,$35.55,$52.16
4,HR,Company NameEXLTotal Duration6 yrs 4 mosTitleV...,"['Team Management', 'Human Resources', 'Employ...",2/13/2021,$43.04,$52.93
5,HR,HR Location Lead and HR Business PartnerCompan...,"['Human Resources', 'Employee Engagement', 'Pe...",10/27/2020,$24.39,$78.85
6,HR,Company NameAxis BankTotal Duration18 yrs 7 mo...,"['Retail Banking', 'Banking', 'Team Management...",4/9/2021,$25.51,$83.91
7,HR,VP & Head of HR Technology and HR Shared Servi...,"['Talent Management', 'Human Resources', 'Empl...",11/20/2020,$36.21,$66.59
8,HR,Company NameNous InfosystemsTotal Duration19 y...,"['Requirements Analysis', 'Software Project Ma...",8/21/2021,$31.36,$76.72
9,HR,Company NameUmicoreTotal Duration3 yrs 9 mosTi...,"['Performance Management', 'Employee Engagemen...",9/2/2021,$16.24,$74.12

In [48]:
result.shape

(1251, 6)

In [50]:
import random

In [53]:
lista = ['A_distancia','Precencial','Mixto']
random.choice(lista)

'Mixto'

In [55]:
m=[]
for i in range(1251):
    m.append(random.choice(lista))

In [58]:
m

['A_distancia',
 'Precencial',
 'Mixto',
 'A_distancia',
 'Precencial',
 'Precencial',
 'Mixto',
 'Mixto',
 'A_distancia',
 'Mixto',
 'Mixto',
 'Precencial',
 'Mixto',
 'Mixto',
 'Mixto',
 'Precencial',
 'Precencial',
 'Mixto',
 'Mixto',
 'Precencial',
 'A_distancia',
 'A_distancia',
 'Precencial',
 'Precencial',
 'Precencial',
 'Mixto',
 'Precencial',
 'A_distancia',
 'Mixto',
 'A_distancia',
 'Mixto',
 'A_distancia',
 'A_distancia',
 'Mixto',
 'Precencial',
 'Precencial',
 'A_distancia',
 'A_distancia',
 'Mixto',
 'Mixto',
 'A_distancia',
 'Mixto',
 'Precencial',
 'A_distancia',
 'Mixto',
 'Mixto',
 'Precencial',
 'A_distancia',
 'Mixto',
 'A_distancia',
 'Precencial',
 'Mixto',
 'Precencial',
 'A_distancia',
 'A_distancia',
 'Precencial',
 'Precencial',
 'Mixto',
 'Mixto',
 'Mixto',
 'Mixto',
 'Precencial',
 'Precencial',
 'A_distancia',
 'Precencial',
 'Precencial',
 'Mixto',
 'A_distancia',
 'Precencial',
 'A_distancia',
 'Precencial',
 'A_distancia',
 'A_distancia',
 'A_distancia',
 'Precencial',
 'Precencial',
 'Precencial',
 'A_distancia',
 'Mixto',
 'Mixto',
 'Precencial',
 'Mixto',
 'Precencial',
 'Mixto',
 'A_distancia',
 'A_distancia',
 'Precencial',
 'A_distancia',
 'Precencial',
 'Mixto',
 'A_distancia',
 'Mixto',
 'A_distancia',
 'Precencial',
 'Mixto',
 'A_distancia',
 'Precencial',
 'Mixto',
 'A_distancia',
 'Mixto',
 'Precencial',
 'A_distancia',
 'Precencial',
 'Mixto',
 'Precencial',
 'A_distancia',
 'A_distancia',
 'Mixto',
 'Mixto',
 'Mixto',
 'A_distancia',
 'A_distancia',
 'Mixto',
 'Precencial',
 'Mixto',
 'Mixto',
 'Precencial',
 'Mixto',
 'A_distancia',
 'Mixto',
 'Mixto',
 'A_distancia',
 'Mixto',
 'Precencial',
 'Precencial',
 'A_distancia',
 'A_distancia',
 'A_distancia',
 'Precencial',
 'Precencial',
 'Mixto',
 'Mixto',
 'Precencial',
 'A_distancia',
 'A_distancia',
 'Precencial',
 'A_distancia',
 'A_distancia',
 'Mixto',
 'Mixto',
 'Precencial',
 'A_distancia',
 'Precencial',
 'Mixto',
 'Precencial',
 'Mixto',
 'Mixto',
 'Precencial',
 'A_distancia',
 'Precencial',
 'A_distancia',
 'Precencial',
 'A_distancia',
 'Mixto',
 'Mixto',
 'Mixto',
 'Precencial',
 'Mixto',
 'Mixto',
 'A_distancia',
 'Precencial',
 'Mixto',
 'Mixto',
 'A_distancia',
 'Mixto',
 'Precencial',
 'Mixto',
 'A_distancia',
 'Mixto',
 'Mixto',
 'Mixto',
 'Precencial',
 'A_distancia',
 'A_distancia',
 'Precencial',
 'Mixto',
 'Mixto',
 'A_distancia',
 'Precencial',
 'Mixto',
 'Precencial',
 'Precencial',
 'Precencial',
 'Mixto',
 'A_distancia',
 'Mixto',
 'Mixto',
 'A_distancia',
 'Precencial',
 'Precencial',
 'A_distancia',
 'Precencial',
 'Precencial',
 'A_distancia',
 'Mixto',
 'A_distancia',
 'Mixto',
 'Precencial',
 'Precencial',
 'Mixto',
 'Precencial',
 'A_distancia',
 'A_distancia',
 'A_distancia',
 'A_distancia',
 'A_distancia',
 'Mixto',
 'Precencial',
 'Mixto',
 'Precencial',
 'A_distancia',
 'Precencial',
 'Precencial',
 'Precencial',
 'A_distancia',
 'Precencial',
 'A_distancia',
 'A_distancia',
 'Mixto',
 'Precencial',
 'Precencial',
 'A_distancia',
 'Precencial',
 'Mixto',
 'A_distancia',
 'Mixto',
 'Mixto',
 'Mixto',
 'Precencial',
 'A_distancia',
 'Mixto',
 'A_distancia',
 'Mixto',
 'Precencial',
 'Precencial',
 'Precencial',
 'A_distancia',
 'Mixto',
 'Precencial',
 'Precencial',
 'A_distancia',
 'A_distancia',
 'Precencial',
 'Mixto',
 'A_distancia',
 'A_distancia',
 'Precencial',
 'Mixto',
 'Precencial',
 'Precencial',
 'A_distancia',
 'A_distancia',
 'Mixto',
 'A_distancia',
 'Mixto',
 'Precencial',
 'Mixto',
 'Precencial',
 'Precencial',
 'Precencial',
 'Mixto',
 'A_distancia',
 'Precencial',
 'Mixto',
 'Mixto',
 'A_distancia',
 'Mixto',
 'Mixto',
 'Precencial',
 'Mixto',
 'Mixto',
 'Mixto',
 'Mixto',
 'A_distancia',
 'Mixto',
 'Mixto',
 'A_distancia',
 'A_distancia',
 'Precencial',
 'Mixto',
 'A_distancia',
 'Precencial',
 'Precencial',
 'Precencial',
 'Precencial',
 'Precencial',
 'A_distancia',
 'Precencial',
 'Precencial',
 'A_distancia',
 'A_distancia',
 'Mixto',
 'A_distancia',
 'A_distancia',
 'Precencial',
 'Mixto',
 'A_distancia',
 'Precencial',
 'Precencial',
 'Precencial',
 'Precencial',
 'Precencial',
 'Precencial',
 'A_distancia',
 'Mixto',
 'Precencial',
 'A_distancia',
 'A_distancia',
 'Mixto',
 'Mixto',
 'A_distancia',
 'A_distancia',
 'A_distancia',
 'Precencial',
 'Precencial',
 'Mixto',
 'Precencial',
 'Mixto',
 'A_distancia',
 'Mixto',
 'Mixto',
 'A_distancia',
 'Precencial',
 'Precencial',
 'A_distancia',
 'Mixto',
 'Precencial',
 'Mixto',
 'Mixto',
 'Precencial',
 'A_distancia',
 'Precencial',
 'Mixto',
 'A_distancia',
 'A_distancia',
 'Mixto',
 'Precencial',
 'Precencial',
 'Precencial',
 'A_distancia',
 'Precencial',
 'Mixto',
 'Mixto',
 'Precencial',
 'Precencial',
 'Mixto',
 'A_distancia',
 'Precencial',
 'Mixto',
 'A_distancia',
 'Precencial',
 'Mixto',
 'Precencial',
 'Precencial',
 'Mixto',
 'Precencial',
 'Precencial',
 'Precencial',
 'A_distancia',
 'Precencial',
 'A_distancia',
 'Precencial',
 'A_distancia',
 'A_distancia',
 'A_distancia',
 'A_distancia',
 'A_distancia',
 'A_distancia',
 'Precencial',
 'Mixto',
 'A_distancia',
 'Mixto',
 'Mixto',
 'Mixto',
 'A_distancia',
 'Mixto',
 'A_distancia',
 'Mixto',
 'Precencial',
 'Mixto',
 'Mixto',
 'Precencial',
 'Mixto',
 'Precencial',
 'Precencial',
 'Mixto',
 'A_distancia',
 'Mixto',
 'Precencial',
 'Mixto',
 'Precencial',
 'Precencial',
 'Precencial',
 'Precencial',
 'Precencial',
 'Mixto',
 'Precencial',
 'Precencial',
 'Mixto',
 'Mixto',
 'Precencial',
 'Precencial',
 'A_distancia',
 'A_distancia',
 'Mixto',
 'Precencial',
 'Precencial',
 'Precencial',
 'Mixto',
 'A_distancia',
 'Mixto',
 'Precencial',
 'A_distancia',
 'Precencial',
 'Precencial',
 'Precencial',
 'Precencial',
 'A_distancia',
 'A_distancia',
 'A_distancia',
 'Mixto',
 'Mixto',
 'A_distancia',
 'Mixto',
 'Mixto',
 'A_distancia',
 'Precencial',
 'A_distancia',
 'A_distancia',
 'Precencial',
 'A_distancia',
 'Precencial',
 'A_distancia',
 'Mixto',
 'Precencial',
 'Mixto',
 'Mixto',
 'A_distancia',
 'Mixto',
 'Mixto',
 'Precencial',
 'Mixto',
 'Precencial',
 'A_distancia',
 'Precencial',
 'A_distancia',
 'Precencial',
 'A_distancia',
 'Mixto',
 'A_distancia',
 'A_distancia',
 'Mixto',
 'A_distancia',
 'Precencial',
 'Mixto',
 'Mixto',
 'A_distancia',
 'A_distancia',
 'A_distancia',
 'Precencial',
 'Mixto',
 'A_distancia',
 'Mixto',
 'A_distancia',
 'Mixto',
 'Precencial',
 'A_distancia',
 'Mixto',
 'Mixto',
 'Mixto',
 'Mixto',
 'Mixto',
 'Precencial',
 'A_distancia',
 'Precencial',
 'A_distancia',
 'Precencial',
 'Mixto',
 'A_distancia',
 'Precencial',
 'Mixto',
 'Mixto',
 'Precencial',
 'Precencial',
 'A_distancia',
 'Precencial',
 'Precencial',
 'Precencial',
 'Precencial',
 'Mixto',
 'Precencial',
 'Mixto',
 'Precencial',
 'Mixto',
 'Mixto',
 'Mixto',
 'A_distancia',
 'Mixto',
 'Precencial',
 'Mixto',
 'A_distancia',
 'Precencial',
 'Precencial',
 'A_distancia',
 'A_distancia',
 'A_distancia',
 'Mixto',
 'Precencial',
 'Mixto',
 'Precencial',
 'A_distancia',
 'A_distancia',
 'A_distancia',
 'Precencial',
 'A_distancia',
 'A_distancia',
 'A_distancia',
 'A_distancia',
 'A_distancia',
 'A_distancia',
 'A_distancia',
 'A_distancia',
 'Precencial',
 'Mixto',
 'Mixto',
 'A_distancia',
 'Mixto',
 'Mixto',
 'Mixto',
 'A_distancia',
 'Mixto',
 'A_distancia',
 'Precencial',
 'Precencial',
 'A_distancia',
 'Mixto',
 'Precencial',
 'Mixto',
 'Precencial',
 'Precencial',
 'A_distancia',
 'A_distancia',
 'A_distancia',
 'Mixto',
 'A_distancia',
 'Precencial',
 'Precencial',
 'A_distancia',
 'A_distancia',
 'Precencial',
 'Mixto',
 'Mixto',
 'A_distancia',
 'Mixto',
 'Mixto',
 'A_distancia',
 'Precencial',
 'Precencial',
 'Precencial',
 'A_distancia',
 'A_distancia',
 'A_distancia',
 'Precencial',
 'Mixto',
 'Mixto',
 'Mixto',
 'Mixto',
 'Precencial',
 'Precencial',
 'Mixto',
 'Mixto',
 'Mixto',
 'A_distancia',
 'Mixto',
 'Precencial',
 'Mixto',
 'Mixto',
 'A_distancia',
 'Precencial',
 'A_distancia',
 'Precencial',
 'Precencial',
 'A_distancia',
 'Precencial',
 'A_distancia',
 'Mixto',
 'A_distancia',
 'A_distancia',
 'Precencial',
 'Precencial',
 'A_distancia',
 'Mixto',
 'A_distancia',
 'Mixto',
 'Mixto',
 'A_distancia',
 'Mixto',
 'Mixto',
 'Precencial',
 'Precencial',
 'A_distancia',
 'Precencial',
 'Precencial',
 'Precencial',
 'A_distancia',
 'A_distancia',
 'A_distancia',
 'A_distancia',
 'Precencial',
 'Precencial',
 'A_distancia',
 'Precencial',
 'Precencial',
 'A_distancia',
 'Precencial',
 'Precencial',
 'Mixto',
 'Mixto',
 'Precencial',
 'Mixto',
 'A_distancia',
 'A_distancia',
 'Precencial',
 'A_distancia',
 'Mixto',
 'Precencial',
 'Precencial',
 'A_distancia',
 'Precencial',
 'Mixto',
 'A_distancia',
 'A_distancia',
 'A_distancia',
 'A_distancia',
 'Precencial',
 'Mixto',
 'Mixto',
 'Precencial',
 'Precencial',
 'A_distancia',
 'Precencial',
 'Mixto',
 'Mixto',
 'Mixto',
 'A_distancia',
 'Mixto',
 'A_distancia',
 'Precencial',
 'A_distancia',
 'Mixto',
 'Precencial',
 'Mixto',
 'Mixto',
 'Precencial',
 'A_distancia',
 'Precencial',
 'A_distancia',
 'Mixto',
 'Mixto',
 'Precencial',
 'A_distancia',
 'Mixto',
 'A_distancia',
 'Mixto',
 'A_distancia',
 'A_distancia',
 'Precencial',
 'A_distancia',
 'Mixto',
 'Mixto',
 'Precencial',
 'Mixto',
 'Precencial',
 'Precencial',
 'A_distancia',
 'Mixto',
 'Precencial',
 'A_distancia',
 'Precencial',
 'A_distancia',
 'A_distancia',
 'A_distancia',
 'Mixto',
 'A_distancia',
 'Mixto',
 'Precencial',
 'A_distancia',
 'Mixto',
 'A_distancia',
 'Precencial',
 'A_distancia',
 'Precencial',
 'A_distancia',
 'Mixto',
 'Precencial',
 'A_distancia',
 'Precencial',
 'Mixto',
 'Mixto',
 'Mixto',
 'Precencial',
 'A_distancia',
 'Mixto',
 'Precencial',
 'Mixto',
 'Precencial',
 'Precencial',
 'Precencial',
 'Precencial',
 'Mixto',
 'A_distancia',
 'Mixto',
 'Mixto',
 'Mixto',
 'Mixto',
 'Precencial',
 'Precencial',
 'A_distancia',
 'A_distancia',
 'A_distancia',
 'Precencial',
 'Precencial',
 'Mixto',
 'Mixto',
 'Precencial',
 'Precencial',
 'Precencial',
 'Mixto',
 'A_distancia',
 'A_distancia',
 'Mixto',
 'Precencial',
 'A_distancia',
 'Precencial',
 'Precencial',
 'A_distancia',
 'A_distancia',
 'A_distancia',
 'Mixto',
 'Mixto',
 'Precencial',
 'Mixto',
 'A_distancia',
 'Precencial',
 'Precencial',
 'A_distancia',
 'Mixto',
 'Precencial',
 'A_distancia',
 'Mixto',
 'Mixto',
 'Mixto',
 'Mixto',
 'Precencial',
 'A_distancia',
 'Mixto',
 'Precencial',
 'A_distancia',
 'A_distancia',
 'Precencial',
 'Mixto',
 'Mixto',
 'Mixto',
 'Mixto',
 'Precencial',
 'Precencial',
 'Mixto',
 'Precencial',
 'Precencial',
 'Precencial',
 'Mixto',
 'A_distancia',
 'Mixto',
 'Mixto',
 'Mixto',
 'Mixto',
 'A_distancia',
 'A_distancia',
 'Mixto',
 'Precencial',
 'A_distancia',
 'A_distancia',
 'Precencial',
 'Mixto',
 'Mixto',
 'Mixto',
 'Precencial',
 'Precencial',
 'A_distancia',
 'Precencial',
 'A_distancia',
 'A_distancia',
 'Mixto',
 'Mixto',
 'Mixto',
 'A_distancia',
 'A_distancia',
 'A_distancia',
 'Mixto',
 'Mixto',
 'Mixto',
 'Precencial',
 'A_distancia',
 'Precencial',
 'Precencial',
 'A_distancia',
 'A_distancia',
 'Precencial',
 'Precencial',
 'Precencial',
 'A_distancia',
 'Mixto',
 'Mixto',
 'A_distancia',
 'Precencial',
 'Precencial',
 'Precencial',
 'Mixto',
 'Precencial',
 'Mixto',
 'Precencial',
 'A_distancia',
 'Mixto',
 'Precencial',
 'A_distancia',
 'A_distancia',
 'Precencial',
 'A_distancia',
 'Mixto',
 'A_distancia',
 'Precencial',
 'Mixto',
 'A_distancia',
 'A_distancia',
 'Mixto',
 'Precencial',
 'A_distancia',
 'Precencial',
 'Precencial',
 'Precencial',
 'Precencial',
 'A_distancia',
 'Precencial',
 'A_distancia',
 'A_distancia',
 'Mixto',
 'A_distancia',
 'Mixto',
 'A_distancia',
 'Mixto',
 'Mixto',
 'Mixto',
 'Precencial',
 'Mixto',
 'Precencial',
 'Mixto',
 'Mixto',
 'Precencial',
 'A_distancia',
 'A_distancia',
 'Mixto',
 'Mixto',
 'A_distancia',
 'A_distancia',
 'Mixto',
 'Precencial',
 'A_distancia',
 'Precencial',
 'A_distancia',
 'Precencial',
 'A_distancia',
 'A_distancia',
 'Mixto',
 'Precencial',
 'Precencial',
 'Precencial',
 'Precencial',
 'Mixto',
 'A_distancia',
 'Precencial',
 'Precencial',
 'A_distancia',
 'Mixto',
 'A_distancia',
 'Precencial',
 'Precencial',
 'Precencial',
 'Mixto',
 'A_distancia',
 'Mixto',
 'A_distancia',
 'Mixto',
 'A_distancia',
 'Mixto',
 'Precencial',
 'A_distancia',
 'A_distancia',
 'Mixto',
 'Mixto',
 'Precencial',
 'A_distancia',
 'Mixto',
 'Precencial',
 'Precencial',
 'Mixto',
 'Precencial',
 'A_distancia',
 'Precencial',
 'Precencial',
 'Precencial',
 'Precencial',
 'A_distancia',
 'Mixto',
 'Precencial',
 'A_distancia',
 'Precencial',
 'Precencial',
 'Precencial',
 'A_distancia',
 'Mixto',
 'Precencial',
 'Mixto',
 'Mixto',
 'Precencial',
 'Precencial',
 'Precencial',
 'Mixto',
 'A_distancia',
 'A_distancia',
 'Precencial',
 'Precencial',
 'A_distancia',
 'A_distancia',
 'Precencial',
 'Mixto',
 'Mixto',
 'A_distancia',
 'A_distancia',
 'Mixto',
 'Mixto',
 'A_distancia',
 'Precencial',
 'A_distancia',
 'Precencial',
 'Mixto',
 'A_distancia',
 'Mixto',
 'Precencial',
 'Mixto',
 'Mixto',
 'A_distancia',
 'A_distancia',
 'Precencial',
 'Precencial',
 'Precencial',
 'A_distancia',
 'A_distancia',
 'A_distancia',
 'A_distancia',
 'A_distancia',
 'Mixto',
 'A_distancia',
 'A_distancia',
 'Mixto',
 'Mixto',
 'Mixto',
 'Precencial',
 'Precencial',
 'Precencial',
 'Precencial',
 'A_distancia',
 'Mixto',
 'A_distancia',
 'Precencial',
 'Precencial',
 'Mixto',
 'Precencial',
 'A_distancia',
 'Mixto',
 'A_distancia',
 'Mixto',
 'A_distancia',
 'A_distancia',
 'Precencial',
 'Precencial',
 'Precencial',
 'A_distancia',
 'A_distancia',
 'Precencial',
 'A_distancia',
 'Precencial',
 'A_distancia',
 'A_distancia',
 'A_distancia',
 'Precencial',
 'Mixto',
 'Mixto',
 'A_distancia',
 'Precencial',
 'Precencial',
 ...]

In [59]:
result['modality'] = m

In [60]:
result.head(10)

,category,title,requariments,schedule,payment_max,payment_min,modality
0,HR,Senior Vice President & Head of HRCompany Name...,"['Performance Management', 'Human Resources', ...",3/8/2021,$33.21,$97.59,A_distancia
1,HR,Head of Talent Acquisition - India & APAC and ...,"['Talent Acquisition', 'Employee Engagement', ...",4/29/2021,$41.94,$76.31,Precencial
2,HR,Company NameIBM INDIA Pvt LtdTotal Duration8 y...,"['Human Resources', 'Recruiting', 'Team Manage...",9/1/2021,$26.24,$95.85,Mixto
3,HR,HR/Admin/Personnel/LegalCompany NameHR and HR ...,[''],4/30/2021,$35.55,$52.16,A_distancia
4,HR,Company NameEXLTotal Duration6 yrs 4 mosTitleV...,"['Team Management', 'Human Resources', 'Employ...",2/13/2021,$43.04,$52.93,Precencial
5,HR,HR Location Lead and HR Business PartnerCompan...,"['Human Resources', 'Employee Engagement', 'Pe...",10/27/2020,$24.39,$78.85,Precencial
6,HR,Company NameAxis BankTotal Duration18 yrs 7 mo...,"['Retail Banking', 'Banking', 'Team Management...",4/9/2021,$25.51,$83.91,Mixto
7,HR,VP & Head of HR Technology and HR Shared Servi...,"['Talent Management', 'Human Resources', 'Empl...",11/20/2020,$36.21,$66.59,Mixto
8,HR,Company NameNous InfosystemsTotal Duration19 y...,"['Requirements Analysis', 'Software Project Ma...",8/21/2021,$31.36,$76.72,A_distancia
9,HR,Company NameUmicoreTotal Duration3 yrs 9 mosTi...,"['Performance Management', 'Employee Engagemen...",9/2/2021,$16.24,$74.12,Mixto

In [61]:
result.to_csv(index=False, path_or_buf = '../data_wedev/job_offer.csv')