In [1]:
import pandas as pd

In [2]:
df= pd.read_csv('../data_base/csv/users.csv')

In [4]:
df.sample(5)

,profile_picture,description,user_name,first_name,last_name,date_of_birth,phone,email_address,employee,employeer,latitude,longitude,id_work_area,id_city
384,https://media-exp1.licdn.com/dms/image/C5603AQ...,Elena Grace is an Australian level one boxing ...,vmarcombeao,Vergil,Marcombe,28/12/1964,4832770934,vmarcombeao@pen.io,False,True,32.083417,34.791820,2,190
1285,https://media-exp1.licdn.com/dms/image/C5103AQ...,"Pro-active, result-oriented HR professional ex...",hkubatsch7x,Hyacinthia,Kubatsch,17/03/1978,5318785383,hkubatsch7x@free.fr,True,False,32.099760,34.783898,16,174
1887,https://media-exp1.licdn.com/dms/image/C5103AQ...,"We always welcome you, regardless the bulk of ...",gsheereon,Gustavus,Sheere,07/05/1975,2117050242,gsheereon@buzzfeed.com,True,False,32.060110,34.789090,20,124
843,"data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP//...",Real Estate consultant engaged in Selling/ Buy...,ccrecynf,Codee,Crecy,24/08/1995,2388970683,ccrecynf@sohu.com,False,True,32.060900,34.794400,0,36
1728,"data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP//...","As the President and Founder, I have over 25 y...",gthorwarthk8,Gray,Thorwarth,13/06/1996,4607490135,gthorwarthk8@altervista.org,False,True,32.107970,34.824920,23,81

In [5]:
df = df['user_name']

In [6]:
df.sample(5)

935      msimperpz
1875    bcolleckob
937       cmyrieq1
207      rcubbin5r
843       ccrecynf
Name: user_name, dtype: object

In [7]:
df.shape

(2000,)

In [8]:
df2= pd.read_csv('../data_base/csv/job_offers1.1.csv')

In [22]:
df3= pd.read_csv('../data_base/csv/job_offers1.2.csv')

In [23]:
df3.sample(5)

       short_description
244           Synergized
1339               model
1913            cohesive
1834  Reverse-engineered
117     customer loyalty

In [11]:
df4= pd.read_csv('../data_wedev/data_useful/job_offer_extra1.csv')

In [12]:
df5= pd.read_csv('../data_wedev/data_useful/job_offer_extra2.csv')

In [13]:
df6= pd.concat([df5, df4])

In [14]:
result = pd.merge(df.reset_index(),
                  df2.reset_index(), 
                  left_index=True, 
                  right_index=True)

In [15]:
result.drop(['index_x','index_y'],axis=1, inplace=True)

In [16]:
result2 = pd.merge(result.reset_index(),
                  df3.reset_index(), 
                  left_index=True, 
                  right_index=True)

In [17]:
result2.drop(['index_x','index_y'],axis=1, inplace=True)

In [18]:
result3 = pd.merge(result2.reset_index(),
                  df6.reset_index(), 
                  left_index=True, 
                  right_index=True)

In [19]:
result3.drop(['index_x','index_y'],axis=1, inplace=True)

In [21]:
result3.sample(5)

,user_name,category,schedule,salary_range1,salary_range2,modality,id_search,short_description_x,long_description,short_description_y,create_at,requirements
1442,ishelpca,Information Technology,12/24/2020,$46.87,$72.99,Precencial,191,Front-line,synergize plug-and-play vortals,Front-line,3/11/2020,Smart Grid
1500,tpagettdw,Education,02/09/2021,$27.96,$86.99,Precencial,249,neutral,revolutionize clicks-and-mortar deliverables,neutral,8/29/2020,Agility
1191,ljanczak5b,Arts,6/17/2021,$8.58,$68.68,A_distancia,1191,hierarchy,leverage 24/7 ROI,hierarchy,8/28/2020,MCSA Security
457,hmitchellcp,BPO,7/30/2021,$37.55,$68.93,A_distancia,457,fresh-thinking,target bleeding-edge schemas,fresh-thinking,8/11/2020,Java RMI
1452,hborgbartolock,Education,03/04/2021,$19.45,$52.41,A_distancia,201,tertiary,morph user-centric communities,tertiary,2/1/2020,Keyboardist

In [26]:
result3.rename(columns={'user_name':'employer_name', 'short_description_x':'title', 'short_description_y':'short_description'}, inplace=True)

In [27]:
result3.sample(5)

,employer_name,category,schedule,salary_range1,salary_range2,modality,id_search,title,long_description,short_description,create_at,requirements
1533,reverilet,Advocate,9/27/2021,$39.94,$84.93,Precencial,282,frame,e-enable viral synergies,frame,5/6/2020,Hazardous Waste Management
412,ekasparbg,Agricultural,07/07/2021,$18.98,$69.62,A_distancia,412,multi-tasking,streamline strategic relationships,multi-tasking,10/1/2020,Tcl-Tk
823,awakemanmv,Automobile,12/15/2020,$32.15,$85.18,Precencial,823,utilisation,benchmark cutting-edge convergence,utilisation,7/27/2020,Power Generation
80,cmacdonnell28,Designing,2/28/2021,$25.62,$56.35,Precencial,80,array,expedite world-class supply-chains,array,5/7/2020,Real Estate Due Diligence
1419,srobynsbn,Information Technology,8/17/2021,$4.67,$88.55,Mixto,168,Streamlined,reintermediate virtual e-tailers,Streamlined,7/20/2020,TCF

In [28]:
i = [i for i in range(2000)]
i = pd.Series(i)
result3['guid'] = i

In [29]:
result3.sample(5)

,employer_name,category,schedule,salary_range1,salary_range2,modality,id_search,title,long_description,short_description,create_at,requirements,guid
875,jvintonob,Food & Beverages,07/05/2021,$48.39,$67.13,Precencial,875,ability,revolutionize one-to-one communities,ability,2/6/2020,Hudson,875
577,rhabbemag1,Consultant,2/22/2021,$13.11,$96.06,A_distancia,577,homogeneous,orchestrate cutting-edge relationships,homogeneous,8/3/2020,FS-CD,577
1632,fskermhk,Health & Fitness,4/23/2021,$20.53,$93.48,Precencial,381,Realigned,deploy cross-media applications,Realigned,7/2/2020,Professional Services,1632
3,jrusbridge3,HR,4/30/2021,$35.55,$52.16,A_distancia,3,system-worthy,evolve 24/7 vortals,system-worthy,12/22/2019,PDF Creator,3
83,blaurentin2b,Designing,4/22/2021,$49.55,$65.97,Mixto,83,emulation,recontextualize leading-edge supply-chains,emulation,11/1/2019,XML Publisher,83

In [30]:
result3.to_csv(index=False, path_or_buf = '../data_base/csv/job_offers_full.csv')